:global #stats {
    width: auto !important;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}

:global #fps {
    width: 80px;
    box-sizing: border-box;
}

:global #stats-info {
    background: rgb(0, 0, 34);
    color: white;
    color: rgb(0, 255, 255);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    padding: 3px;
    margin-top: 5px;
}

:global #stats-info:empty {
    display: none;
}

:global .stats-value {
    float: right;
    color: white;
    padding-left: 4px;
}
