.root {
    font-family: sans-serif;
    position: fixed;
    left: 0;
    top: 140px;
    padding: 10px;
}

.texture {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.texture + .title {
    margin-top: 5px;
}

.texture img,
.texture input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.texture input {
    cursor: pointer;
    font-size: 0;
    opacity: 0;
}

.texture img {
    pointer-events: none;
}
